<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>테스트</h1>
    <from method="post" action="http://localhost:3000/test">

    </from>
    <form method="post" action="http://localhost:3000/test">
        {% for item in items %}
        <lable>title</lable>
        <div>{{item.title}}</div>
        <p>{{item.date}}</p>
        {% endfor %}
        <ul>
            <li>
                <lable>title</lable>
                <input type="text" name="title" id="title"></input>
            </li>

            <li>
                <lable>이름</lable>
                <input type="text" name="address" id="address"></input>
            </li>
            <li>
                <lable>투표번호</lable>
                <input type="text" name="vote" id="vote"></input>
            </li>
        </ul>
        <button type="submit">글쓰기</button>
    </form>

</body>

</html>