<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=l, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table {
        width: 100%;
        border: 1px solid black;
    }

    table > tr {
        padding: 7px;
    }
</style>
<body>
    list
    <table>
        <tr>
            <td>제목</td>
            <td>글쓴이</td>
            <td>날짜</td>
            <td>시간</td>
            <td>번호</td>
        </tr>
        <tr>
            <td><a href="/board/view">1</a></td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
    </table>
    <a href="/board/write">글쓰기</a>
    <a href="/board/update">수정하기</a>
</body>
</html>