<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="http://localhost:3000/board/write">
        <h2>글쓰기</h2>
        <ul>
            <li>
                <lable>제목</lable>
                <input type="text" name="subject" id="subject"></input>
                <lable>이름</lable>
                <input type="text" name="name" id="name"></input>
            </li>
            <li>
                <lable for="content">내용</lable>
                <textarea name="content" id="content"></textarea>            
            </li>
        </ul>
        <button type="button" onclick="location.href='/board/list'">목록가기</button>
        <button type="submit">글쓰기</button>
    </form>
</body>
</html>